<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="listeners.MyListener"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="testCases.cartTest"/>
      <class name="testCases.searchTest"/>
      <class name="testCases.homepageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
